.app-header{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #0DCEDA;
}

.app-logo img {
    height: 60px;
}

.app-search-bar{
    width: 400px;
    height: 45px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid black;
}

.app-search-bar input{
    width: 330px;
    height: 35px;
    padding: 5px 10px;
    border-radius: 20px;
    border: none;
    font-size: 16px;
}

.app-search-bar input:focus{
    outline: none;
}

.app-search-btn{
    margin-left: 86%;
    position: relative;
    bottom: 32px;
    font-weight: bold;
    padding: 13.2px 5px;
    border-radius: 0px 20px 20px 0px;
    background-color: #0DCEDA;
}

.app-search-btn:hover{
    cursor: pointer;
    background-color: #10ddec;
}

.app-user-icon img{
    height: 40px;
    width: 40px;
    padding: 5px;
    border-radius: 25px;
    border: 1px solid black;
}

@media only screen and (max-width: 320px) {

    .app-search-bar{
        margin-top: 20px;
        width: 300px;
    }

    .app-search-bar input{
        width: 230px;
        height: 35px;
        padding: 5px 10px;
        border-radius: 20px;
        border: none;
        font-size: 16px;
    }

    .app-search-btn{
        margin-left: 81.5%
    }

    .app-user-icon img{
        position: absolute;
        top: -250px;
        left: 50px;
        
    }
}